extends layout
 
block content
  h1= title
  p Welcome to #{title}
  p #{status}
  form(method='post', enctype='multipart/form-data')
    input(type='file', name='docxupload')
    input(type='submit', name='uploaddocx', value='Upload Docx')
  div
    #{doc}